<div class="vcard">
	<div class="org">New Internationalist</div>
	<div class="adr">
		<div class="street-address">The Old Music Hall</div>
		<div class="locality">106-108 Cowley Rd</div>
		<span class="locality-two">Oxford</span>
		<span class="postal-code">OX4 1JE</span>
		<div class="country-name">UK</div>
	</div>
	<div class="tel">01709 513999</div>
</div>