&lt;ul class=&quot;colors&quot;&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;White&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #ffffff;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#ffffff&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Black&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #000000;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#000000&lt;/code&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Background Colour&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #f4f3f2;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#f4f3f2&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Brand Colour&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #a03c3c;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#a03c3c&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Book Colour&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #d75a00;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#d75a00&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Blog Colour&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #556e05;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#556e05&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Shop Colour&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #326e96;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#326e96&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Some title&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #215A87;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#215A87&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Some title&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #7D6F20;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#7D6F20&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Some title&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #b4b4b4;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#b4b4b4&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Some title&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #e1e1e1;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#e1e1e1&lt;/code&gt;
	&lt;/li&gt;
	&lt;li&gt;
        &lt;span class=&quot;title&quot;&gt;Some title&lt;/span&gt;
		&lt;span class=&quot;swatch&quot; style=&quot;background: #cdcac9;&quot;&gt;&lt;/span&gt;
		&lt;code class=&quot;label&quot;&gt;#cdcac9&lt;/code&gt;
	&lt;/li&gt;
&lt;/ul&gt;
