&lt;h1&gt;
    Heading 1
    &lt;small class=&quot;color-gray inline&quot;&gt;This is a sub-heading&lt;/small&gt;
&lt;/h1&gt;
&lt;h2&gt;
    Heading 2
    &lt;small class=&quot;color-gray inline&quot;&gt;This is a sub-heading&lt;/small&gt;
&lt;/h2&gt;
&lt;h3&gt;
    Heading 3
    &lt;small class=&quot;color-gray inline&quot;&gt;This is a sub-heading&lt;/small&gt;
&lt;/h3&gt;
&lt;h4&gt;
    Heading 4
    &lt;small class=&quot;color-gray inline&quot;&gt;This is a sub-heading&lt;/small&gt;
&lt;/h4&gt;
&lt;h5&gt;
    Heading 5
    &lt;small class=&quot;color-gray inline&quot;&gt;This is a sub-heading&lt;/small&gt;
&lt;/h5&gt;
&lt;h6&gt;
    Heading 6
    &lt;small class=&quot;color-gray inline&quot;&gt;This is a sub-heading&lt;/small&gt;
&lt;/h6&gt;

