&lt;p&gt; Celebrating its 40th year of publication in 2013, the New Internationalist is renowned for its radical, campaigning stance on a range of world issues, from the cynical marketing of babymilk in the Majority World to human rights in Burma. &lt;p&gt;
&lt;p&gt;The &lt;i&gt;New Internationalist&lt;/i&gt; magazine is published ten times a year and has won several awards, including an Amnesty Media Award in 2012 and an Utne Reader Award in 2013. The magazine sets out to explain and inform, giving readers the essentials of a subject in a concise, easy-to-read full-colour format with excellent photos and graphics. We also produce a range of books, calendars and diaries that bring you the clearest, most accessible reference sources about our complex world. Our mail order catalogue and online shop sell a wide range of books, clothes, food, and other fair trade and organic gifts.&lt;p&gt;
&lt;p&gt;June 2013 saw the launch of an iPad app, New Internationalist for iPad, which was developed by the NI design and tech teams.&lt;p&gt;
&lt;p&gt;Publications from the New Internationalist are produced by an independent trust working as a not-for-profit cooperative. Because the New Internationalist operates as a not-for-profit, income from sales of publications and gifts goes into the production of our titles and to spread our aims and ideals, not into a rich media tycoon&rsquo;s pocket!&lt;p&gt;