&lt;nav id=&quot;nav&quot; role=&quot;navigation&quot;&gt;
    &lt;div class=&quot;block&quot;&gt;
        &lt;input type=&quot;search&quot; placeholder=&quot;Search&quot; /&gt;
        &lt;ul&gt;
            &lt;li class=&quot;is-active&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Chapter 1&lt;/a&gt;
            &lt;/li&gt;
             &lt;li&gt;
                    &lt;a href=&quot;#&quot;&gt;Chapter 2&lt;/a&gt;
                &lt;/li&gt;
             &lt;li&gt;
                    &lt;a href=&quot;#&quot;&gt;Chapter 3&lt;/a&gt;
                &lt;/li&gt;
             &lt;li&gt;
                    &lt;a href=&quot;#&quot;&gt;Chapter 4&lt;/a&gt;
                &lt;/li&gt;
             &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;Chapter 5&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;a class=&quot;close-btn&quot; id=&quot;nav-close-btn&quot; href=&quot;#top&quot;&gt;Return to Content&lt;/a&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
