<div class="media-block">
    <a href="{{ url }}" class="inner">
		{{> atoms-list-picture }}
		<div class="text">
			<h3 class="title">{{ headline.short }}</h3>
			<p>{{ excerpt.short }}</p>
		</div>
	</a>
</div>
