// Core variables and mixins


// Sasslines
//@import "sasslines/assets/sass/style";

// New Internationalist styling
@import "ni_scss/variables";

// Concise css import
@import "concise/scss/concise";

@import "ni_scss/functions";
@import "ni_scss/mixins";
// @import "ni_scss/responsive_utilities"; this is no longer used.
@import "ni_scss/extend-only";

@import "ni_scss/demo";

//@import "oc-menu/step4";

@import "ni_scss/base";
@import "ni_scss/patterns/main-div";
@import "ni_scss/patterns/color";
//@import "ni_scss/patterns/logo";
//@import "ni_scss/patterns/header";
//@import "ni_scss/patterns/search";
//@import "ni_scss/patterns/primary-nav";
@import "ni_scss/patterns/fib-image";
@import "ni_scss/patterns/titles";
@import "ni_scss/patterns/list-pic";
@import "ni_scss/patterns/media-block";
@import "ni_scss/patterns/post-list";
@import "ni_scss/patterns/pagination";


/*
// Breakpoints
$extra-small-start: 30em !default;  480px
$small-start:       48em !default;  768px
$medium-start:      60em !default;  960px
$large-start:       70em !default;  1120px
$extra-large-start: 80em !default;  1280px
*/



// > 480px
@media (min-width: $extra-small-start) { //$screen-xs-min) {    
    @import "ni_scss/patterns/color-xs"; 
    //@import "ni_scss/patterns/logo-xsup";
    @import "ni_scss/patterns/fib-image-xsup";
    @import "ni_scss/patterns/titles-xsup";
}

// > 768px
@media (min-width: $small-start) { //$screen-sm-min) {
    
    //@import "ni_scss/patterns/logo-smup";
    //@import "ni_scss/patterns/search-smup";
    @import "ni_scss/patterns/fib-image-smup";
    @import "ni_scss/patterns/titles-smup";
}

// > 800px
@media (min-width: 50em) {
    //@import "ni_scss/patterns/search-50emup";
}

// > 880px
@media (min-width: 55em) {
    //@import "ni_scss/patterns/search-55emup";

}

// > 960px 
@media (min-width: $medium-start) { 
    //@import "ni_scss/color-md";
    //@import "ni_scss/patterns/search-md";
}

// > 1120px 
@media (min-width: $large-start) { 

}

// > 1280px 
@media (min-width: $extra-large-start) { 

}
