<ul class="icons inline-list">
	<li class="fa fa-twitter"></li>
	<li class="fa fa-facebook"></li>
	<li class="fa fa-google-plus"></li>
	<li class="fa fa-stumbleupon"></li>
	<li class="fa fa-linkedin"></li>
	<li class="fa fa-pinterest"></li>
	<li class="fa fa-youtube"></li>

	<li class="fa fa-rss"></li>
	<li class="fa fa-search"></li>
	<li class="fa fa-play"></li>
    
    <li class="fa fa-twitter-square"></li>
	<li class="fa fa-facebook-square"></li>
	<li class="fa fa-google-plus-square"></li>
	<li class="fa fa-stumbleupon-circle"></li>
	<li class="fa fa-linkedin-square"></li>
	<li class="fa fa-pinterest-square"></li>
	<li class="fa fa-youtube-square"></li>
	<li class="fa fa-rss-square"></li>
	
	<li class="fa fa-circle-o-notch"></li>
	<li class="fa fa-cog"></li>
	<li class="fa fa-refresh"></li>
	<li class="fa fa-spinner"></li>
</ul>
