<img src="../../images/ajax-loader.gif" alt="Loading" />
<img src="../../images/ni-loader2.gif" alt="Load" />
<i class="fa fa-circle-o-notch fa-spin"></i>
<i class="fa fa-cog fa-spin"></i>
<i class="fa fa-refresh fa-spin"></i>
<i class="fa fa-spinner fa-spin"></i>
