<picture class="list-pic">
    <source srcset="{{ img.large.high }}" media="(min-width: 1000px)">
    <source srcset="{{ img.medium.high }}" media="(min-width: 800px)">
    <source srcset="{{ img.medium.low }}" media="(min-width: 480px)">
    <source srcset="{{ img.small.low }}">
    <img srcset="{{ img.small.low }}" alt="{{ img.large.alt }}">
</picture>
