<picture class="list-pic">
    <source srcset="{{ list-imgs.small.high }}" media="(min-width: 1000px)">
    <source srcset="{{ list-imgs.small.high }}" media="(min-width: 800px)">
    <source srcset="{{ list-imgs.small.high }}" media="(min-width: 480px)">
    <source srcset="{{ list-imgs.small.low }}">
    <img srcset="{{ list-imgs.small.low }}" alt="{{ list-imgs.large.alt }}">
</picture>
