#ni {
    
    .fib-image {
        //padding-top: 43px;
        //padding-top: px_rem(43);
        //@include mod_rem("padding-top", 43);
        width: 100%;
        @include mod_rem("max-width", 1400);
        @extend .clearfix;
        margin: auto;
        //border: 1px solid #000;
    }

    .fib-image {
        picture {
            border: none;
        }

        .fib-box picture {
            //border-left: 1px solid #000;
        }

        picture.small-pic {
            //border-top: 1px solid #000;
        }
        
        .fib-pic img, .fib-box img {
            width: 100%;
        }

        .fib-pic {
            width: 100%    
        }
    }
}
