#ni {
    .header {
        background-color: $brand-primary;
        height: 44px;
        width: 100%;
        max-width: 100%;
        position: fixed;
        border-bottom: 2px solid rgba(0,0,0,0.2);
        .nav-toggle {
            color: #fff;
            height: 100%;
            padding-top: 2.2%;
            font-size: 20px;
        }            
    }
}
