#ni {
    #logo {
        width: 210px;
        height: 35px;
        background-position: -12px -108px;
    }
    .header {
        #logo {
            background-position: -12px 3px;
        }
    }
}
