#ni {
    #logo {
        h1, h2 {
            @extend .text-hide; 
        }
        display: inline-block;
        width: 50px; 
        height: 40px;
        background: url(../images/logo-emb.svg) no-repeat -135px -161px;
        float: left;
    }

}
