#ni {
    #logo {
        h1, h2 {
            @include text-hide(); 
        }
        display: inline-block;
        width: 50px; 
        height: 40px;
        background: url(../images/logo.png) no-repeat -135px -161px;
    }

}
