#ni {

   .media-block {
        @include min_height_rem(80);
        display: block;
        overflow: hidden;
       .inner {

       }
       
       

       .text {
            float: left;
            width: 60%;
            height: 100%;
            display: inline-block;
            padding-left: 0.5em;
       }

       .title {
            font-size: 1.375em;
            margin-top: px_em(5);
       }

       .text p {
            overflow: hidden;
            @include line_clamp(); 
            min-height: 4.3em;
            height: 100%;
       }
   }

   


}
