<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur consectetur metus, vitae gravida mauris venenatis sit amet. Donec feugiat sed mi nec rhoncus. Nunc sollicitudin, magna pretium tincidunt sagittis, nibh nulla placerat dolor, eget cursus ipsum urna quis enim. Quisque sed pellentesque sapien. Donec ac lacus vulputate, vestibulum enim et, ultricies tellus. Quisque commodo id magna sed sodales. Cras eu tortor tincidunt, fermentum eros vitae, sollicitudin tortor. Morbi nisl enim, ullamcorper non volutpat nec, egestas vel tortor. Quisque aliquet non urna sit amet posuere. Nunc nulla risus, commodo sed volutpat vitae, hendrerit eu arcu.<p>
<blockquote>
	<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
</blockquote>
<p>In hac habitasse platea dictumst. Praesent dapibus metus et magna sollicitudin, quis laoreet massa gravida. Fusce sed ipsum iaculis, lacinia arcu sodales, lacinia dui. Duis vitae arcu ac odio facilisis scelerisque in sed tellus. Curabitur imperdiet eleifend mi eu semper. Quisque porta, mi sit amet venenatis rutrum, ante lacus lobortis dolor, eu lacinia enim sem quis nulla. Nunc non turpis sit amet metus gravida tincidunt. Praesent tristique lectus sit amet neque blandit, et vestibulum ante eleifend. Aliquam mollis, nisi vitae condimentum imperdiet, erat mi semper nisl, non viverra neque felis aliquam risus. Cras risus enim, sodales ac libero at, eleifend facilisis mi. Maecenas volutpat vestibulum nibh sit amet pharetra. Proin pharetra nisl elit, et lacinia mauris tempus a.<p>