<form action="{{ url }}" method="post" class="inline-form newsletter-form">           
    <fieldset>
	    <legend>Get our free fortnightly newsletter</legend>
	    <label for="newsletter-scope">Sign up below</label>
	    <div class="inline-container">
	   		<input type="newsletter" placeholder="Enter your email address" id="newsletter-field" class="newsletter-field" />
	    	<button class="btn newsletter-submit">Sign Me Up</button>
		</div>
    </fieldset>
</form>