<div class="demo">
	<!--Grid 2up-->
	<div class="row gutters">
		<div class="column-12 text-center bg-black color-white">1/2</div>
		<div class="column-12 text-center bg-gray color-white">1/2</div>
	</div>
</div>
