<div class="demo">
	<!--Grid 4up-->
	<div class="row gutters">
		<div class="column-6 text-center bg-black color-white">1/4</div>
		<div class="column-6 text-center bg-gray color-white">1/4</div>
		<div class="column-6 text-center bg-black color-white">1/4</div>
		<div class="column-6 text-center bg-gray color-white">1/4</div>
	</div>
</div>
