<div class="social-share">
	<ul class="social-share-list">
		<li><a href="{{ url }}">Like</a></li>
		<li><a href="{{ url }}">Tweet</a></li>
		<li><a href="{{ url }}">Email</a></li>
		<li><a href="{{ url }}">Comment</a></li>
	</ul>
</div>

<div class="social-share">
	<ul class="social-share-list">
		<li><a href="{{ url }}"><i class="fa fa-facebook"></i> Facebook</a></li>
		<li><a href="{{ url }}"><i class="fa fa-twitter"></i> Twitter</a></li>
		<li><a href="{{ url }}"><i class="fa fa-google-plus"></i> Google+</a></li>
		<li><a href="{{ url }}">RSS</a></li>
		<li><a href="{{ url }}">Email</a></li>
	</ul>
</div>
