.header {
    a.hgroup {
        background-image: url("../../images/logo-large-sprite.png");
        display: inline-block;
        background-repeat: no-repeat;
    }
}

.holder {
    background-color: $menu-bg-color;
    h2 {
        color: #fff;
        margin-left: pem(10);
    }
    h4 {
        color: #fff;
        margin: auto;
        text-align: center;
        margin-top: pem(10);
    }
    .tw {
        background-color: #55acee;
        display: block;
    }
    .fb {
        background-color: #3B5998;
        display: block;
    }
    .gp {
        background-color: #dd4b39;
        display: block;
    }

    
}

.close-btn {
    color: #ffffff;
    float: right;
    font-size: pem(24);
    line-height: pem(30);
    width: pem(30);
    text-align: center;
}

.js { 
    .holder {
        @include vendor("box-shadow", inset pem(-24) 0 pem(24) pem(-12) rgba(0,0,0, 0.25));
    }   

}


