.header {
    width: 100%;
    height:45px;
    position: fixed;
    top: 0;
    z-index: 4;
}


#search-holder {
    width: 100%;
    height: pem(32);
    text-align: center;

    input {
        width: 90%;
        height: pem(32);
    }

}

.js-nav { 
    .holder {
        left: 0;
    }   

}


