#nav-open-btn {
    @include visuallyhidden;
}


#nav {
    
    text-align: right;


    .close-btn {
        @include visuallyhidden;
    }

    .block-title {
        @include visuallyhidden;
    }
    
    input {
        /*
        width: pem(200);
        padding: pem(5);
        max-height: pem(25);
        margin-top: pem(3);*/
        @include visuallyhidden;
    }

    ul {
        text-align: center;
        white-space: nowrap;
        display: inline-block;
    }

    li {
        display: inline-block;
        border-right: 1px solid rgba(255,255,255, 0.1);

        &:last-child {
            border-right: none;
        }

        a {
            padding: pem(6, 14) pem(12, 14);
            line-height: pem(33, 14);
            text-decoration: none;
        }
    }
}
