&lt;h1&gt;Heading Level 1 - The New Internationalist Magazine&lt;/h1&gt;
&lt;h2&gt;Heading Level 2 - The New Internationalist Magazine&lt;/h2&gt;
&lt;h3&gt;Heading Level 3 - The New Internationalist Magazine&lt;/h3&gt;  
&lt;h4&gt;Heading Level 4 - The New Internationalist Magazine&lt;/h4&gt;
&lt;h5&gt;Heading Level 5 - The New Internationalist Magazine&lt;/h5&gt; 
&lt;h6&gt;Heading Level 6 - The New Internationalist Magazine&lt;/h6&gt;
