&lt;ol class=&quot;pagination&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Previous&lt;/a&gt;&lt;/li&gt;
	&lt;li class=&quot;current&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;6&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;7&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;8&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;9&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;10&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Next&lt;/a&gt;&lt;/li&gt;
&lt;/ol&gt;