&lt;!-- Begin .header --&gt;

&lt;header id=&quot;header&quot; class=&quot;header&quot;&gt;
  {{&gt; atoms-logo }}
  &lt;a class=&quot;menu-button&quot; id=&quot;nav-open-btn&quot;  href=&quot;#nav-holder&quot;&gt;&lt;span class=&quot;screen-reader&quot;&gt;Menu&lt;/span&gt; &lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;&lt;/a&gt; 
  &lt;a class=&quot;menu-button&quot; id=&quot;login-open-btn&quot;  href=&quot;#login-holder&quot;&gt;&lt;span&gt;Login&lt;/span&gt; &lt;i class=&quot;fa fa-user&quot;&gt;&lt;/i&gt;&lt;/a&gt; 
  &lt;a class=&quot;menu-button&quot; id=&quot;search-open-btn&quot;  href=&quot;#search-holder&quot;&gt;&lt;span&gt;Search&lt;/span&gt; &lt;i class=&quot;fa fa-search&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/header&gt;

{{&gt; molecules-primary-nav }}

{{&gt; molecules-breadcrumbs }}
&lt;!-- End .header --&gt;
