<nav id="nav" role="navigation">
    <div class="block">
        <input type="search" placeholder="Search" />
        <ul>
            <li class="is-active">
                <a href="#">Chapter 1</a>
            </li>
             <li>
                    <a href="#">Chapter 2</a>
                </li>
             <li>
                    <a href="#">Chapter 3</a>
                </li>
             <li>
                    <a href="#">Chapter 4</a>
                </li>
             <li>
                <a href="#">Chapter 5</a>
            </li>
        </ul>
    </div>
    <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
</nav><!--end .nav-->
