<span class="group border-radius">
    <button class="group-item"><i class="fa fa-angle-double-left"></i> First</button>
    <button class="group-item">1</button>
    <button class="group-item">2</button>
    <button class="group-item active">3</button>
    <button class="group-item">4</button>
    <button class="group-item">Last <i class="fa fa-angle-double-right"></i></button>
</span>
