&lt;img src=&quot;../../images/ajax-loader.gif&quot; alt=&quot;Loading&quot; /&gt;
&lt;img src=&quot;../../images/ni-loader2.gif&quot; alt=&quot;Load&quot; /&gt;
&lt;i class=&quot;fa fa-circle-o-notch fa-spin&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fa fa-cog fa-spin&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fa fa-refresh fa-spin&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fa fa-spinner fa-spin&quot;&gt;&lt;/i&gt;
