<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">

		<!-- <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />-->
        <link rel="stylesheet" href="../../css/ni_style.css?{{ cacheBuster }}" media="all" />
        <link rel="stylesheet" href="../../js/jqueryui/jquery-ui.min.css?{{ cacheBuster }}" media="all" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/menu.css">
        <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="../../css/oc-menu/ie.css">
        <![endif]-->
  
        <!-- <script src="../../js/jquery.js"></script>
        <script src="../../js/jqueryui/jquery-ui.min.js"></script>
        -->
        <script>
        // Picture element HTML5 shiv
        document.createElement( "picture" );
        </script>
        <script src="../../js/picturefill.min.js" async></script>

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
	
	</head>
	<body id="{{ bodyId }}" class="{{ bodyClass }}">	
		
