        <script src="../../js/concise/js/naver.js"></script>
        <script src="../../js/concise/js/close.js"></script>
        <script src="../../js/concise/js/dropdown.js"></script>
        <script src="../../js/concise/js/navigation.js"></script>
        <script src="../../js/oc-menu/main.js"></script>
        <script>
            var init = function() {
                console.log('********* tabs loaded *********');
                $( "#tabs" ).tabs();
                console.log('********* tabs loaded *********');
            }
            $(document).ready(init);
        </script>
        <!--DO NOT REMOVE-->
        {% pattern-lab-foot %}
        
    </body>
</html>
