<div class="demo">
    <a class="btn btn-extra-small">Extra Small Button</a>
    <a class="btn btn-small">Small Button</a>
    <a class="btn">Button</a>
    <a class="btn btn-large">Large Button</a>
    <a class="btn btn-extra-large">Extra Large Button</a>
</div>
