<div class="demo">
    <a class="btn btn-small bg-gray">Gray Button</a>
    <a class="btn btn-small bg-black">Black Button</a>
    <a class="btn btn-small bg-white">White Button</a>
    <a class="btn btn-small bg-green">Green Button</a>
    <a class="btn btn-small bg-red">Red Button</a>
    <a class="btn btn-small bg-yellow">Yellow Button</a>
    <a class="btn btn-small bg-blue">Blue Button</a>
</div>
