<div class="demo">
    <a class="btn btn-border btn-small">Button</a>
    <a class="btn btn-border btn-small gray">Gray Button</a>
    <a class="btn btn-border btn-small black">Black Button</a>
    <a class="btn btn-border btn-small green">Green Button</a>
    <a class="btn btn-border btn-small red">Red Button</a>
    <a class="btn btn-border btn-small yellow">Yellow Button</a>
    <a class="btn btn-border btn-small blue">Blue Button</a>
</div>
