<div class="demo">
    <div class="btn dropdown line" tabindex="1">
    Dropdown <span class="caret"></span>
    <ul class="dropdown-menu">
        <li><a href="#">Profile <span class="icon user right"></span></a></li>
        <li><a href="#">Settings <span class="icon cog right"></span></a></li>
        <li><a href="#">Log out <span class="icon times right"></span></a></li>
    </ul>
</div>
</div> 
