<ul class="colors">
	<li>
        <span class="title">White</span>
		<span class="swatch" style="background: #ffffff;"></span>
		<code class="label">#ffffff</code>
	</li>
	<li>
        <span class="title">Black</span>
		<span class="swatch" style="background: #000000;"></span>
		<code class="label">#000000</code>
    </li>
    <li>
        <span class="title">Background Colour</span>
		<span class="swatch" style="background: #f4f3f2;"></span>
		<code class="label">#f4f3f2</code>
	</li>
	<li>
        <span class="title">Brand Colour</span>
		<span class="swatch" style="background: #a03c3c;"></span>
		<code class="label">#a03c3c</code>
	</li>
	<li>
        <span class="title">Book Colour</span>
		<span class="swatch" style="background: #d75a00;"></span>
		<code class="label">#d75a00</code>
	</li>
	<li>
        <span class="title">Blog Colour</span>
		<span class="swatch" style="background: #556e05;"></span>
		<code class="label">#556e05</code>
	</li>
	<li>
        <span class="title">Shop Colour</span>
		<span class="swatch" style="background: #326e96;"></span>
		<code class="label">#326e96</code>
	</li>
	<li>
        <span class="title">Some title</span>
		<span class="swatch" style="background: #215A87;"></span>
		<code class="label">#215A87</code>
	</li>
	<li>
        <span class="title">Some title</span>
		<span class="swatch" style="background: #7D6F20;"></span>
		<code class="label">#7D6F20</code>
	</li>
	<li>
        <span class="title">Some title</span>
		<span class="swatch" style="background: #b4b4b4;"></span>
		<code class="label">#b4b4b4</code>
	</li>
	<li>
        <span class="title">Some title</span>
		<span class="swatch" style="background: #e1e1e1;"></span>
		<code class="label">#e1e1e1</code>
	</li>
</ul>
