<p class="hide-extra-small">This text is hidden on extra-small screens</p>

<p class="hide-small hide-medium hide-large hide-extra-large"><em>This text is only visible on extra-small screens</em></p>

<p class="hide-small">This text is hidden on small screens</p>

<p class="hide-extra-small hide-medium hide-large hide-extra-large"><em>This text is only visible on small screens</em></p>

<p class="hide-medium">This text is hidden on medium screens only</p>

<p class="hide-extra-small hide-small hide-large hide-extra-large"><em>This text is only visible on medium screens</em></p> 

<p class="hide-large ">This text is hidden on large screens</p>

<p class="hide-extra-small hide-small hide-medium hide-extra-large"><em>This text is only visible on large screens</em></p> 

<p class="hide-extra-large">This text is hidden on extra-large screens</p>

<p class="hide-extra-small hide-small hide-medium hide-large"><em>This text is only visible on extra-large screens</em></p>
