<h1>Heading Level 1 - The New Internationalist Magazine</h1>
<h2>Heading Level 2 - The New Internationalist Magazine</h2>
<h3>Heading Level 3 - The New Internationalist Magazine</h3>  
<h4>Heading Level 4 - The New Internationalist Magazine</h4>
<h5>Heading Level 5 - The New Internationalist Magazine</h5> 
<h6>Heading Level 6 - The New Internationalist Magazine</h6>
