#ni {

    // Patternlab - start
    .sg-pattern-body {
        text-align: left;
    }
    // Patternlab - end

    

    

    

    [role="main"] > {
        * {
            text-align: left;
            margin-left: px_rem(5);
            margin-right: px_rem(5);
        }

        ul, dl  {
            margin-left: px_rem(12);
        }

        ol {
            margin-left: px_rem(16);
        }
    }
}
