
@include ni_invisibility('.visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-xsup, .visible-smup, .visible-mdup, .visible-lgup, .visible-32up, .visible-50up, .visible-55up');

// > 480px
@media (min-width: $screen-xs-min) {    
    @include ni_visibility('.visible-xsup');
    @include ni_invisibility('.hidden-xsup');
}

// > 513px
@media (min-width: 32.06em) {    
    @include ni_visibility('.visible-32up');
    @include ni_invisibility('.hidden-32up');
}

// > 768px
@media (min-width: $screen-sm-min) {
    @include ni_visibility('.visible-smup');
    @include ni_invisibility('.hidden-xsup');

}

// > 800px
@media (min-width: 50em) {
    @include ni_visibility('.visible-50up');
    @include ni_invisibility('.hidden-xsup');
    
}

// > 880px
@media (min-width: 55em) {
    @include ni_visibility('.visible-55up');
    @include ni_invisibility('.hidden-xsup');
    

}

// 768px -> 991px 
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include ni_visibility('.visible-sm');
    @include ni_invisibility('.hidden-xsup');
    
}

// 992px -> 1199px 
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include ni_visibility('.visible-md');
    @include ni_invisibility('.hidden-xsup');
    
}

// > 1200px 
@media (min-width: $screen-lg-min) {
    @include ni_visibility('.visible-lgup');
    @include ni_invisibility('.hidden-xsup');
    
}
