/**
 ** NI Variables
 **
 *************************************/
$brand-primary: #a03c3c;
$blog-color: #556e05;
$book-color: #d75a00;


/*  Fonts  */
$title-font: bold 15px/20px "Helvetica Neue",Arial,sans-serif;
