<!-- Begin .header -->

<header id="header" class="header">
{{> atoms-logo }}
<a id="nav-open-btn"  href="#header"><span class="screen-reader">Menu</span> <i class="fa fa-bars"></i></a>
<a id="login-open-btn"  href="#header"><span>Login</span> <i class="fa fa-user"></i></a>
</header>

{{> molecules-primary-nav }}

{{> molecules-breadcrumbs }}
<!-- End .header -->
