&lt;div class=&quot;media-block&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;inner&quot;&gt;
		{{&gt; atoms-list-picture }}
		&lt;div class=&quot;text&quot;&gt;
			&lt;h3 class=&quot;title&quot;&gt;{{ headline.short }}&lt;/h3&gt;
			&lt;p&gt;{{ excerpt.short }}&lt;/p&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;
